In [3]:
import sqlite3
import pandas as pd

In [4]:
# Create a connection to the SQLite database
conn = sqlite3.connect('output/geo_data.db')

# Execute a SELECT query to retrieve all data from the geo_data table
query = 'SELECT * FROM geo_data'

# Fetch data into a Pandas DataFrame
df = pd.read_sql_query(query, conn)

# Close the connection
conn.close()

In [13]:
df.head()

,date,agency_name,violation_code,violation_description,location,fine,paid,penalty,latitude,longitude
0,2024-09-01 10:20:00,US. BUREAU OF ENGRAVING AND PRINTNG,P012,DISOBEYING OFFICIAL SIGN,BLK ES 300 RAOUL WALLENBERG PL SW,30,30,0,38.886,-77.034
1,2024-09-08 10:51:00,US. BUREAU OF ENGRAVING AND PRINTNG,P170,FAILURE TO DISPLAY CURRENT TAGS,SS 1300 BLK C ST SW,100,0,0,38.886,-77.031
2,2024-09-08 11:08:00,US. BUREAU OF ENGRAVING AND PRINTNG,P170,FAILURE TO DISPLAY CURRENT TAGS,NS 1300 BLK D ST SW,100,0,0,38.885,-77.031
3,2024-09-08 11:11:00,US. BUREAU OF ENGRAVING AND PRINTNG,P170,FAILURE TO DISPLAY CURRENT TAGS,NS 1300 BLK D ST SW,100,0,0,38.885,-77.031
4,2024-09-08 11:13:00,US. BUREAU OF ENGRAVING AND PRINTNG,P170,FAILURE TO DISPLAY CURRENT TAGS,SS 1300 BLK D ST SW,100,0,0,38.885,-77.031

In [14]:
df['agency_name'].value_counts()

agency_name
DEPARTMENT OF PUBLIC WORKS             90535
DDOT                                    2103
METROPOLITAN POLICE DPT-DISTRICT 1       498
UNITED STATES CAPITOL POLICE             334
TAXI COMMISSION                          252
METROPOLITAN POLICE DPT-DISTRICT 3       187
METROPOLITAN POLICE DPT-DISTRICT 2       132
METROPOLITAN POLICE DPT-DISTRICT 4       113
METROPOLITAN POLICE DPT-DISTRICT 5        93
METRO POLICE                              88
SPECIAL OPERATION DIV & TRAFFIC DIV       52
US. BUREAU OF ENGRAVING AND PRINTNG       48
METROPOLITAN POLICE DPT-DISTRICT 6        45
METROPOLITAN POLICE DPT-DISTRICT 7        21
UNVRSTY OF THE D.C. SECURITY POLICE       20
US. SECRET SERVICE UNIFORM DIVISION       18
UNITED STATES PARK POLICE                 15
MPD RESERVE CORPS                          7
PROTECTIVE SERVICES DEPT (DC GOVT)         5
METRO POLICE DPT-PROPERTY DIVISION         4
FEDERAL PROTECTIVE SERVICES (US GV)        3
U.S. NATIONAL ZOOLOGICAL POLICE            3
NO AGENCY                                  3
OPERATIONS COMMAND                         3
DPT. OF GENERAL SERVICES GUARDS            3
FBI                                        2
COMMAND INFORMATION CENTER                 1
ST.ELZBETH HOSPITAL SECURITY GUARDS        1
Name: count, dtype: int64

In [16]:
df['violation_description'].value_counts()

violation_description
FAIL TO DISPLAY A MULTISPACE METER RECEIPT            12458
DISOBEYING OFFICIAL SIGN                               8781
NO PARKING STREET CLEANING                             8701
FAILURE TO DISPLAY CURRENT TAGS                        8204
NO PARKING ANYTIME                                     5678
                                                      ...
UNSAFE MECHANICAL CONDITION                               1
FAIL TO LOCK AND REMOVE KEY FROM IGNITION WHEN PKD        1
TINTED WINDOWS , FAIL TO COMPLY 1ST                       1
FAIL TO TURN WHEEL TO CURB                                1
VALET PARKING/STAGING ZONE                                1
Name: count, Length: 122, dtype: int64

In [17]:
df['location'].value_counts()

location
   600 BLOCK MAINE AVE SW NORTH SI*    412
   800 BLOCK MAINE AVE SW NORTH SI*    394
   600 BLOCK NEW JERSEY AVE SE WES*    310
   900 BLOCK 23RD ST NW EAST SIDE      275
   200 BLOCK 15TH ST NW EAST SIDE      237
                                      ...
  2300 BLOCK CHAMPLAIN ST NW NORTH*      1
  2000 BLOCK 16TH ST SE EAST SIDE        1
  1900 BLOCK BILTMORE ST NW WEST S*      1
REAR OF    440 BLOCK 4TH ST NE EAS*      1
   400 BLOCK NEW JERSEY AVE SE SOU*      1
Name: count, Length: 11253, dtype: int64

In [18]:
df['fine'].value_counts()

fine
50      29277
100     22173
30      19945
45       8701
35       4978
25       4040
250      2206
20       2198
65        798
150       145
60         82
0          21
1000       14
500         5
10          4
5           2
Name: count, dtype: int64

In [19]:
df['paid'].value_counts()

paid
0      59003
50      9959
30      8350
100     6475
45      4132
35      2269
25      1854
20       984
65       455
250      390
60       273
200      193
90        91
150       56
70        43
40        25
130       15
15         6
500        5
10         3
120        3
5          3
75         1
300        1
Name: count, dtype: int64

In [20]:
df['penalty'].value_counts()

penalty
0       73766
50       6561
100      5653
30       4179
45       1500
35       1001
25        806
250       526
20        429
65        113
150        27
60         23
1000        3
500         1
5           1
Name: count, dtype: int64